.name{
    text-align: center;
    
    margin-top: 100px;
    margin-bottom: 50px;
}
.name h1{
   font-size: 70px;
}
.jumbotron h2{
   text-align: center ;
}





.social-links a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
    font-size: 30px;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    text-align: center;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.gallery h2{
    text-align: center;
}
.gallery-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.gallery-item {
    overflow: hidden;
    padding: 0 5px 0 5px;
}
